#menu{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.programacaopadrao{
    color: #5e97fe;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    text-shadow: 2px 2px 5px black;
}

.slider{
    margin: 0 auto;
    width: 670px;
    height: 405px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 405px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1s;
}

.slide img{
    width: 670px;
    box-shadow: 2px 2px 5px black;
}

.manual-navigation{
    position: absolute;
    width: 670px;
    margin-top: -55px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 15px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

#radio5:checked ~ .first{
    margin-left: -100%;
}

#radio6:checked ~ .first{
    margin-left: -125%;
}

#radio7:checked ~ .first{
    margin-left: -150%;
}

#radio8:checked ~ .first{
    margin-left: -175%;
}

.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 670px;
    margin-top: 350px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 15px;
}

#radio1:checked ~.navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~.navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~.navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~.navigation-auto .auto-btn4{
    background-color: white;
}

#radio5:checked ~.navigation-auto .auto-btn5{
    background-color: white;
}

#radio6:checked ~.navigation-auto .auto-btn6{
    background-color: white;
}

#radio7:checked ~.navigation-auto .auto-btn7{
    background-color: white;
}

#radio8:checked ~.navigation-auto .auto-btn8{
    background-color: white;
}

@media (max-width: 700px){
    .slider{
        margin: 0 auto;
        width: 480px;
        height: 270px;
        overflow: hidden;
    }

    .slides{
        width: 400%;
        height: 270px;
        display: flex;
    }

    .slide img{
        width: 480px;
        box-shadow: 2px 2px 5px black;
    }

    .manual-navigation{
        position: absolute;
        width: 480px;
        margin-top: -15px;
        display: flex;
        justify-content: center;
    }

    .navigation-auto{
        position: absolute;
        width: 480px;
        margin-top: 255px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 470px){
    .programacaopadrao{
        color: #5e97fe;
        display: flex;
        justify-content: center;
        margin: 20px 0px;
        text-shadow: 2px 2px 5px black;
        font-size: 16px;
    }

    .slider{
        margin: 0 auto;
        width: 360px;
        height: 202.5px;
        overflow: hidden;
    }

    .slides{
        width: 400%;
        height: 202.5px;
        display: flex;
    }

    .slide img{
        width: 360px;
        box-shadow: 2px 2px 5px black;
    }

    .manual-navigation{
        position: absolute;
        width: 360px;
        margin-top: 5px;
        display: flex;
        justify-content: center;
    }

    .navigation-auto{
        position: absolute;
        width: 360px;
        margin-top: 208px;
        display: flex;
        justify-content: center;
    }
}