@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'League Gothic', sans-serif;
}

#fotofundo{
    position: absolute;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.433);
    
}

#cabecalho{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}

.redes{
    padding-right: 50px;
}

.redes > a{
    margin: 10px;
}

.chamada{
    position: relative;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.433);
    margin: 30px 0px 0px 120px;
    font-size: 5vw;
}

.pemenu{
    margin-top: 15px;
    position: relative;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.pemenu > a{
    width: 250px;
    color: rgb(0, 170, 255);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.433);
    background-color: white;
    border: 2px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.433);
    border-radius: 15px;
    text-decoration: none;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pemenu > a:hover{
    width: 250px;
    color: rgb(0, 170, 255);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.433);
    background-color: transparent;
    border: 2px solid rgb(0, 170, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.433);
    border-radius: 15px;
    text-decoration: none;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s;
}

.pemenu > a > img{
    margin-right: 30px;
    border-radius: 10px;
}

#pacote1{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

#pacote1 > a{
    margin: 0px 40px;
}

#pacote1 > a > img{
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.433);
}

#pacote1 > a > img:hover{
    border: 2px solid rgb(0, 170, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.433);
}

#rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px ;
    border-top: 2px solid rgba(0, 0, 0, 0.433);
    text-align: center;
}

#rodape > p{
    margin-top: 20px;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}