@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url(../image/fundo-header.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-cabecalho{
    margin: 10px 0px 0px 80px;
}

.navegacao{
    margin-top: -20px;
}

.navegacao > a{
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.433);
    margin-right: 40px;
}

.navegacao > a:hover{
    color: rgb(0, 170, 255);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.433);
    margin-right: 40px;
    transition: 0.5s;
}

.redes{
    margin-top: -20px;
}

.redes > a{
    margin: 10px;
}

